@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    28 E. Virata St., BF West Executive Village<br />
    BF Homes, Parañaque City<br />
    <abbr title="Phone">P:</abbr>
    +63 995 128 4214
</address>

<address>
    <strong>Linkedin:</strong>   <a href="https://www.linkedin.com/in/johannbenjaminpvivas/">https://www.linkedin.com/in/johannbenjaminpvivas/</a><br />
    <strong>Portfolio:</strong> <a href="https://johann-vivas-portfolio.webflow.io/">https://johann-vivas-portfolio.webflow.io/</a><br />
    <strong>Email:</strong> <a href="mailto:jpvivas@up.edu.ph">jpvivas@up.edu.ph</a>
</address>