
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>@Html.ActionLink("List of Items", "ListItems", "Recyclable")</h3>
<h3>@Html.ActionLink("List of Types", "ListTypes", "Recyclable")</h3>

